@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to Statics</h1>

<div class="containers"> 

    <div class="grid1">
        

        <div class="tables">
            <h2 class="fontsize">Today Changes</h2>
            <Table>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Action</th>
                    <th>Changed Time</th>
                </tr>
                @if (Model.Changes != null && Model.Changes.Any())
                {
                    @foreach (var change in Model.Changes)
                    {
                        <tr>
                            <td>@change.Name</td>
                            <td>@change.Category</td>
                            <td>@change.Action</td>
                            <td>@change.ChangeTime</td>
                        </tr>
                
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">No changes found.</td> 
                    </tr>
                }
            </Table>
        </div>

    </div>

    <div class="grid2">
        <div class="quantity">
            <h2>Total Quantity of ... </h2>
            <div class="circles">
                <div class="cnt activee" id="perCircle">
                    <h2 id="personnelText" data-count="@Context.Session.GetInt32("personnelCount")">Personnel</h2>
                </div>
                <div class="cnt" id="comCircle">
                    <h2 id="companyText" data-count="@Context.Session.GetInt32("companyCount")">Company</h2>
                </div>
                <div class="cnt" id="admCircle">
                    <h2 id="adminText" data-count="@Context.Session.GetInt32("adminCount")">Admin</h2>
                </div>
            </div>
        </div>

        <div class="activeAdmin">
            <h2 class="fontsize">Active Admin Number</h2>
            <h1>@Context.Session.GetInt32("loginCount")</h1>
        </div>

        <div class="tables">
            <h2 class="fontsize">Recently Logins</h2>
            <Table>
                <tr>
                    <th>Admin Name</th>
                    <th>Login Date</th>
                </tr>

                @if (Model.Logins != null && Model.Logins.Any())
                {
                    @foreach (var admin in Model.Logins)
                    {
                        <tr>
                            <td>@admin.Username</td>
                            <td>@admin.LoginDate</td>
                        </tr>

                    }
                }

            </Table>

        </div>
    </div>

</div>

<div class="todolist">
    <h2 class="todolisthead fontsize">To Do List</h2>
    <div class="todo">
        <form class="todo1" asp-action="Index" method="post">
            <textarea name="Description" rows="4" cols="30" placeholder="Type a task..." required></textarea>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <div class="todo2">
            <h2>Tasks</h2>
            <div style="padding-left:15px;padding-top:15px;">
                @if (Model.Todos != null && Model.Todos.Any())
                {
                    @foreach (var todo in Model.Todos)
                    {
                        <div style="display:flex;">
                            
                            <h3>@todo.Description</h3>
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@todo.TodoID" class="btn btn-danger xbtn">X</a>

                        </div>
                    }
                }

            </div>
            
            @if ((Model.Todos?.Count() ?? 0) == 0)
            {
                <h3>No tasks Found!</h3>
            }
        </div>
    </div>
</div>
<script>
    console.log(@Json.Serialize(Model.Todos));
</script>