@model List<Personnel>

@{
	ViewData["Title"] = "Personnel";
	
}

<h1 class="title">Personnel List</h1>

<div class="addbtn">
	<a class="btn btn-primary" asp-area="" asp-controller="Personnel" asp-action="Create">Add Personnel</a>
</div>

<table class="table pageTable">
	<thead class="table-dark">
		<tr>
			<th class="dn" scope="col">Card ID</th>
			@* <th scope="col">Card No</th> *@
			@* <th scope="col">Roll Id</th> *@
			<th scope="col">Full Name</th>
			<th scope="col">Company</th>
			<th class="dn" scope="col">Company Id</th>
			@* <th scope="col">Phone Number</th> *@
			<th class="dn" scope="col">Mobile Number</th>
			@* <th scope="col">Phone Number2</th> *@
			<th class="dn" scope="col">Email Address</th>
			@* <th scope="col">Password</th> *@
			<th class="dn" scope="col">Job Title</th>
			<th class="dn" scope="col">Work Address</th>
			@* <th scope="col">Image</th> *@
			<th scope="col">Added Date</th>
			<th class="dn" scope="col">Updated Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var p in Model)
		{
			<tr>
				<td class="dn" scope="row">@p.CardID</td>
				@* <td>@p.CardNo</td> *@
				@* <td>@p.RollId</td> *@
				<td>@p.FullName</td>
				<td>@p.Company</td>
				<td class="dn">@p.CompanyId</td>
				@* <td>@p.PhoneNumber</td> *@
				<td class="dn">@p.MobileNumber</td>
				@* <td>@p.PhoneNumber2</td> *@
				<td class="dn">@p.EmailAddress</td>
				@* <td>@p.Password</td> *@
				<td class="dn">@p.JobTitle</td>
				<td class="dn">@p.WorkAddress</td>
				@* <td>@p.Image</td> *@
				<td>@p.AddDate</td>
				<td class="dn">@p.UpdDate</td>
				<td>
					<a asp-controller="Personnel" asp-action="Edit" asp-route-id="@p.CardID" style="margin-right:10px" class="btn btn-outline-primary">Edit</a>
					<a asp-controller="Personnel" asp-action="Delete" asp-route-id="@p.CardID" class="btn btn-danger" onclick="return confirm('Are you sure to delete?')">Delete</a>
				</td>

			</tr>
		}
	</tbody>
</table>


