<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin Panel</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cardPortal.styles.css" asp-append-version="true" />
    @RenderSection("PersonelStyle", required: false)
    @RenderSection("CompanyStyle", required: false)
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" /> 
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

   
</head>
<body>
    
    <div class="container1">
        @*----Sidebar Section----*@
        <aside>
            <div class="toggle">
               <div class="logo">
                    <img src="~/image/sankologo.png" alt="Sanko Logo" />
                    <h1>Admin Panel</h1>
                    <div class="close">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </div>
               </div>
               
               <div class="sidebar">
                    
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <span class="material-symbols-outlined">
                            home
                        </span>
                       <h2>Dashboard</h2>
                   </a>
                    <a asp-area="" asp-controller="Personnel" asp-action="Index">
                        <span class="material-symbols-outlined">
                            group
                        </span>
                        <h2>Personnel</h2>
                    </a>
                    @if (Context.Session.GetInt32("RoleID") == 1){
                        <a asp-area="" asp-controller="Company" asp-action="Index">
                            <span class="material-symbols-outlined">
                                apartment
                            </span>
                            <h2>Company</h2>
                        </a>
                    }
                    
                    <a asp-area="" asp-controller="Admin" asp-action="Index">
                        <span class="material-symbols-outlined">
                            admin_panel_settings
                        </span>
                        <h2>Admin</h2>
                    </a>
                    <a class="logout" asp-area="" asp-controller="Login" asp-action="Logout" onclick="return confirm('Are you sure to logout?')">
                        <span class="material-symbols-outlined">
                            logout
                        </span>
                        <h2>Logout</h2>
                    </a>
               </div>
           </div>
        </aside>
        @*----End of Sidebar----*@

        @*----Main Section----*@
        <main>
            <header>
                <div class="headSection">
                    <button class="menu">
                        <span class="material-symbols-outlined">
                            menu
                        </span>
                    </button>
                    <div class="mode">
                        <span class="material-symbols-outlined activee">
                            light_mode
                        </span>
                        <span class="material-symbols-outlined">
                            dark_mode
                        </span>
                    </div>
                    <div class="profile">
                        <h2>@Context.Session.GetString("AdminName")</h2>
                        @if (Context.Session.GetInt32("RoleID") == 1)
                        {
                            <h2>Main Admin</h2>
                        }
                        else {<h2>Sub Admin</h2>}
                        
                        <span class="material-symbols-outlined">
                            account_circle
                        </span>
                    </div>
                </div>
            </header>

            <div class="mainSection">
                @RenderBody()
            </div>
        </main>
      
    </div>

   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	
	<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
	
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menuSidebar.js"></script>
	<script src="~/js/dashboard.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
