@model List<Company>

@{
	ViewData["Title"] = "Company";
	
}

<h1 class="title">Company List</h1>

<div class="addbtn">
	<a class="btn btn-primary" asp-area="" asp-controller="Company" asp-action="Create">Add Company</a>
</div>

<table class="table pageTable">
	<thead class="table-dark">
		<tr>
			<th class="dn" scope="col">Company ID</th>
			<th scope="col">Company Name</th>
			<th scope="col">Company Address</th>
			<th scope="col">Added Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		@foreach (var c in Model)
		{
			<tr>
				<td class="dn" scope="row">@c.CompanyID</td>
				<td>@c.CompanyName</td>
				<td>@c.CompanyAddress</td>
				<td>@c.AddDate</td>
				<td>
					<a asp-controller="Company" asp-action="Edit" asp-route-id="@c.CompanyID" style="margin-right:10px" class="btn btn-outline-primary">Edit</a>
					<a asp-controller="Company" asp-action="Delete" asp-route-id="@c.CompanyID" class="btn btn-danger" onclick="return confirm('Are you sure to delete?')">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>



	

